html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0
}
* html .clearfix {
	height:1%
}
.clearfix {
	display:block
}

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #f0f0f0;
	color: #565656;
	font-size: 13px;
	overflow-y: scroll;
	overflow-x: hidden;
}
html, body {
	height: 100%;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -145px; 
}
#footer-wrapper, .push {
	height: 145px; 
}
p {
	line-height: 20px;
	margin-bottom: 20px;
}
a {
	text-decoration: none;
	color: #565656;
}

a.more {
	display: inline-block;
	color: #5d8ba6;
}

pre {
	margin-bottom: 20px;
	font-size: 11px;
	background-color: #e8e8e8;
	padding: 0 10px;
}
.highlight {
	color: #5d8ba6;
	border-bottom: 1px dotted #5d8ba6;
}
.highlight2 {
	background-color: #e1e1e1;
	padding: 0px 5px;
	color: #222222;
}
.highlight3 {
	color: #5d8ba6;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'MidoMedium';
	font-weight: normal;
	color: #565656;
	margin-bottom: 10px;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
}
h4 {
	font-size: 17px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 14px;
}


.button, .button:link, .button:visited {
	display: block;
	position: relative;
	padding: 0 0 0 15px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
	cursor: pointer;
	font-family: 'MidoMedium';
}
.button span {
	display: block;
	position: absolute;
	top: 0px;
	right: -15px;
	width: 15px;
	height: 32px;
	background-position: right top;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:10px 8px 3px 0;
	font-family: 'MidoMedium';
}
.quote-right, .quote-left {
	color:#565656;
	border-left:1px solid #e3e3e3;
	float:right;
	letter-spacing:0px;
	line-height:23px;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:5px;
	padding:0px;
	padding-left:10px;
	padding-right:10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	width:25%;
}
.quote-left {
	border: none;
	border-right:1px solid #e3e3e3;
	float:left;
	padding:0;
	padding-right:5px;
	margin-bottom:0;
	margin-left: 0;
	margin-right:20px;
}

#wrapper ul {
	padding: 0 0 20px 0;
	display: block;
	overflow: hidden;
}
#add_product img {
    width: 100px;
    height: 100px;
}
#add_product{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 290px;
    background: #b1b1b166;
    margin-bottom: 20px;
    flex-direction: column;
}

#card_product{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
#card_product a{
	text-decoration: none;
}

#product_description{
	display: flex;
    width: 170px;
    height: 45px;
    align-items: center;
    justify-content: center;
}
#product_description h1{
	font-size: 20px;
}

#wrapper_center {
	margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#wrapper {
	width: 960px;
	padding-top: 0;
	line-height: 20px;
}

#header {
	height: 88px;
	display: flex;
    justify-content: space-evenly;
    align-items: center;
}


ul#tab-menu {
	height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	float:left;
	width: 230px;
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	margin:0 20px 0 0;
	padding: 0 10px;
	list-style:none;
	font-family: 'MidoMedium';
	font-size: 17px;
}
ul#tab-menu li a:hover {
	color: rgb(163, 163, 235);
}
.tab-wrapper {
	width:960px;
}
.tab-content {
	background-color: #FFF;
	-moz-box-shadow: 0px 1px 2px #9f9f9f;
	-webkit-box-shadow: 0px 1px 2px #9f9f9f;
	box-shadow: 0px 1px 2px #9f9f9f;
	width: 650px;
	float:left;
	padding: 20px 20px 0 20px;
}





