body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 75%;
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
}

#form_staf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px;
    margin-top: 100px;
    background: rgb(201 190 190);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button{
    border-radius: 10px;
    width: 110px;
    height: 30px;
    margin-top: 30px;
}

.form__input{
    border-radius: 8px;
    width: 220px;
    height: 25px;
    margin-top: 20px;
    max-width: 430px;
    max-height: 240px;
    min-width: 222px;
    min-height: 25px;
}
}

