{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}
{% block style%}
    
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />

{% endblock %}
{% block content %}
{{ super() }}
{% if message %}
        <p>{{ message }}</p>
{% endif %}



    <form action="{{ url_for("login")}}" method="post">

      <label for="name">Name:</label>

      <input type="text" id="name" name="fname" placeholder="name">

      <label for="password">Password:</label>

      <input type="text" id="password" name="lname" placeholder="password">

      <button type="submit">Login</button>

    </form>


{% endblock %}
