{% extends 'base.html' %}

{% block title %}Ебанный бобанный{% endblock %}

{% block content %}
{{ super() }}
{% if message %}
        <p>{{ message }}</p>
{% endif %}



<div id="container">
    <div id="page-top">
      <div id="header-wrapper">
        <div id="header">
          <div id="menu-wrapper">
            <div id="smoothmenu1" class="ddsmoothmenu">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="portfolio.html">Документы</a></li>
                <li><a href="services.html" class="selected">сервис</a></li>
                <li><a href="full-width.html">Другое</a>
                </li>
                <li><a href="contact.html">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <div class="tab-wrapper">
        <ul id="tab-menu">
          <li class="selected">Отчеты</li>
          <li> Графики</li>
          <li> Персонал</li>
          <li>Обратная связь</li>
        </ul>
        <div class="tab-content">
          <div class="tab show">
            <h3>Центральное меню</h3>
            <p>Здесь будет размещаться основная информация с графиками и товарами, возможно в виде карточек и ссылок для отображения дополнительной информации</p>
            <h3>Так же на центрольной странице нужно проработать меню, чтобы понять, что конкретно здесь будет располагаться и какие пункты в нынешнем меню нужно изменить или убрать</h3>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clearfix"></div>
    <div class="push"></div>
    <div id="footer-wrapper">
      <div id="footer">
      </div>
    </div>
  </div>

  



{% endblock %}