{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}
{% block style%}
    
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />

{% endblock %}
{% block content %}
{{ super() }}
{% if message %}
<p>{{ message }}</p>
{% endif %}



<div id="container">
  <div class="title_web">
    <h1>{{title_web}}</h1>
  </div>
  <div id="wrapper_center">
    <div id="wrapper">
      <div class="tab-wrapper">
        <ul id="tab-menu">
            <li><a href="http://127.0.0.1:5000/Products/">Товары</a></li>
            <li><a href="http://127.0.0.1:5000/personal/">Персонал</a></li>
            <li><a href="http://127.0.0.1:5000/Branches/">Филиалы</a></li>
            <li><a href="http://127.0.0.1:5000/Statistics/">Статистика</a></li>
          </ul>
        <div class="tab-content">
              


          <div id="product">

              <div id="card_product">
                <a href="http://127.0.0.1:5000/personal/">
                    Здесь будет собираться и структурироваться вся информация из БД, отображение будет доступно в формате таблицы и исходными данными, в формате сводных таблиц, а так же в виде динамических графиков
                </a>
              </div>

          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="push"></div>
    <div id="footer-wrapper">
      <div id="footer">
      </div>
    </div>
  </div>





  {% endblock %}